#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#body {
  font: 14px/16px Arial, Helvetica, sans-serif;
}
#accordion {
  position: absolute;
  bottom: 1%; /* or top: 20% */
  left: 1%;
  width: 400px; /* wider to display table output */
  font: 14px/16px Arial, Helvetica, sans-serif;
  z-index: 9999;
}
#accordion .ui-accordion-content {
  padding: 6px;
}
.info {
  padding: 10px 12px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.info h4 {
  margin: 0 0 5px;
  color: "black";
}
.towns_list {
  height: 10px;
  overflow: auto;
}
.merged_stats {
  height: auto;
  max-height: 250px;
  overflow-y: scroll;
  font-size: 0.95em;
  border-radius: 2px;
}
.merged_stats td, .merged_stats th {
  padding: 2px 4px;
  border: 1px solid silver;
}
.source, .source a {
  font-size: 0.9em;
  color: gray;
}